*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-size: calc(1rem + 1vw);
  color: rgb(230, 225, 225);
  word-spacing: 2px;
  line-height: 1.5;
}

:root {
  --small: lighter;
  --bold: bold;
  --bolder: bolder;
  --background: #ffefef;
  --color: #ff5a5a;
  --font: #ff5959;
  --filter: blur(200px);
  --small-pad: 50px;
  --small-mag: 20px 15px;
  --medium-pad: 60px;
  --medium-mag: 35px 25px;
  --big-pad: 80px 70px;
  --big-mag: 50px 40px;
}

.container {
  background: black;
  width: 100vw;
  height: auto;
  overflow: hidden;
  text-transform: capitalize;
}

.div {
  width: 100%;
  animation: color 2s ease-in infinite;
  background-image: linear-gradient(
    to right,
    #360134,
    #560b4b,
    #781863,
    #9e2679,
    #c5338f,
    #d9378d,
    #ed3d8a,
    #ff4586,
    #ff4e6c,
    #ff6050,
    #ff7532,
    #ff8c00
  );
  height: 3px;
}

@keyframes color {
  100% {
    background-image: linear-gradient(
      to right,
      #a4299f,
      #a82294,
      #ac1b88,
      #ad157e,
      #ae1173,
      #b71468,
      #be1d5c,
      #c32851,
      #cc3f41,
      #d05632,
      #ce6d24,
      #c88319
    );
  }
}

img[alt="hijab"] {
  max-width: 100%;
  height: auto;
}

.hijab {
  display: flex;
  margin: 20px 0;
}
.hijab img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  z-index: 2;
}

.hijab div {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: rgb(145, 139, 139);
  margin-left: -50px;
}

@media only screen and (min-device-width: 50px) and (max-device-width: 480px) {
  .two,
  .head {
    padding: var(--small-mag);
  }

  .div {
    margin: 10px 15px;
    width: 90%;
  }

  .vertical {
    display: none;
  }

  .para {
    padding-bottom: 20px;
  }

  .aut {
    font-weight: var(--bold);
    padding: 15px 0;
  }

  .head--1,
  .head--2,
  .h4 h4,
  .paragraph p {
    padding-bottom: 20px;
  }

  .h4 {
    display: flex;
    justify-content: space-between;
  }

  .head--3 {
    padding: 20px 0 10px 0;
  }
}

@media only screen and (min-device-width: 482px) and (max-device-width: 796px) {
  img[alt="hijab"] {
    height: 50%;
  }
  .vertical {
    display: none;
  }
  .two,
  .head {
    padding: var(--medium-mag);
  }

  .div {
    margin: 10px 20px;
    width: 90%;
  }

  .para {
    padding-bottom: 20px;
  }

  .aut {
    font-weight: var(--bold);
    padding: 15px 0;
  }

  .head--1,
  .head--2,
  .paragraph p {
    padding-bottom: 20px;
  }

  .h4 {
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
  }

  .h4 h4 {
    flex: 1;
  }

  .head--3 {
    padding: 20px 0 10px 0;
  }
}

@media only screen and (min-width: 998px) and (max-width: 1198px) {
  .container {
    display: flex;
  }
  .div {
    display: none;
  }
  .vertical {
    position: relative;
    margin: 0 30px;
  }

  .vertical::before {
    content: "";
    position: absolute;
    width: 3px;
    height: 97%;
    background-image: linear-gradient(
      to top,
      #360134,
      #560b4b,
      #781863,
      #9e2679,
      #c5338f,
      #d9378d,
      #ed3d8a,
      #ff4586,
      #ff4e6c,
      #ff6050,
      #ff7532,
      #ff8c00
    );
    margin: var(--small-mag);
    animation: colors 2s ease-in-out alternate infinite;
  }

  @keyframes colors {
    100% {
      background-image: linear-gradient(
        to bottom,
        #a4299f,
        #a82294,
        #ac1b88,
        #ad157e,
        #ae1173,
        #b71468,
        #be1d5c,
        #c32851,
        #cc3f41,
        #d05632,
        #ce6d24,
        #c88319
      );
    }
  }

  img[alt="hijab"] {
    flex: 1.5;
    height: auto;
  }

  .two {
    flex: 2;
  }
  .head {
    flex: 4;
  }

.two,
.head {
  padding: var(--small-mag);
}

p,
.aut,
.h4 h4 {
  font-size: 1.3rem;
}

h1 {
  font-size: 2.5rem;
}

.head--1 {
  padding-bottom: 150px;
}

.para {
  padding-bottom: 70%;
}

.hijab,
.aut {
  padding-bottom: 15px;
}

.h4 {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
}

.paragraph p {
  padding: 20px 0;
}

.paragraph p:last-child {
  padding-bottom: 50px;
}
}

@media only screen and (min-width: 1200px) {
  .container {
    display: flex;
    overflow: hidden;
  }
  .div {
    display: none;
  }
  .vertical {
    position: relative;
    margin: 0 30px;
  }

  .vertical::before {
    content: "";
    position: absolute;
    width: 3px;
    height: 97%;
    background-image: linear-gradient(
      to top,
      #360134,
      #560b4b,
      #781863,
      #9e2679,
      #c5338f,
      #d9378d,
      #ed3d8a,
      #ff4586,
      #ff4e6c,
      #ff6050,
      #ff7532,
      #ff8c00
    );
    margin: var(--small-mag);
    animation: colors 2s ease-in-out alternate infinite;
  }

  @keyframes colors {
    100% {
      background-image: linear-gradient(
        to bottom,
        #a4299f,
        #a82294,
        #ac1b88,
        #ad157e,
        #ae1173,
        #b71468,
        #be1d5c,
        #c32851,
        #cc3f41,
        #d05632,
        #ce6d24,
        #c88319
      );
    }
  }

  img[alt="hijab"] {
    flex: 1.5;
    height: auto;
  }

  .two {
    flex: 2;
  }
  .head {
    flex: 5;
  }

.two {
  padding: var(--medium-mag);
}

.head {
  padding: var(--small-mag);
}

p,
.aut,
.h4 h4 {
  font-size: 1.5rem;
}

h1 {
  font-size: 4.5rem;
  line-height: 1;
}

.head--1 {
  padding-bottom: 180px;
}

.para {
  padding-bottom: 100%;
}

.hijab{
  padding-bottom: 15px;
}

.aut{
  padding-bottom: 30px;
}

.h4 {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
}

.h4 h4{
  flex: 1;
}

.paragraph{
  display: flex;
}

.paragraph p {
  padding-top:60px ;
  padding-bottom: 120px;
  flex: 1;
}

.paragraph p:last-child {
  padding-bottom: 50px;
  padding-left: 30px;
}
}